<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuevo Usuario</title>

	<link rel="stylesheet" th:href="@{/form-style.css}">

</head>

<body>

	<h2>Insertar nuevo usuario</h2>

	<form action="#" th:action="@{/saveNew}" th:object="${usuario}"
		method="POST">

		<table>

			<tr>
				<td><label for="nombre">NOMBRE</label></td>
				<td><input type="text" th:field="*{nombre}" id="nombre"
					name="nombre" maxlength="300" placeholder="Juan" required></td>
			</tr>

			<tr>
				<td><label for="apellido">APELLIDO</label></td>
				<td><input type="text" th:field="*{apellido}" id="apellido"
					name="apellido" maxlength="300" placeholder="Perez" required></td>
			</tr>

			<tr>
				<td><label for="dni">DNI</label></td>
				<td><input type="text" th:field="*{dni}" id="dni" name="dni"
					maxlength="300" placeholder="12345678" required></td>
			</tr>

			<tr>
				<td><label for="fecha_nac">NACIMIENTO</label></td>
				<td><input type="date" th:field="*{fechaNac}" id="fecha_nac"
					name="fecha_nac" maxlength="300" placeholder="0000-00-00" required></td>
			</tr>

			<tr>
				<td><label for="profesion">PROFESION</label></td>
				<td><input type="text" th:field="*{profesion}" id="profesion"
					name="profesion" maxlength="300" placeholder="Ocupacion" required></td>
			</tr>

		</table>

		<button type="submit" class="btn-guardar">Guardar Usuario</button>

	</form>

	<hr>

	<a th:href="@{/}">Volver a la lista de Usuarios</a>

</body>
</html>